<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    Welcome {{ic.userObject.userName}}! Add an item to the amazing shelf
  </p>
  <div class="form-group col-md-6">
    <form ng-submit="ic.addItem()">
      <label>Item Name
        <input type="text" class="form-control" ng-model="ic.newItem.name" placeholder="" />
      </label>
      <label>Description
        <input type="text" class="form-control" ng-model="ic.newItem.description" placeholder="" />
      </label>
      <label>Image URL
        <input type="text" class="form-control" ng-model="ic.newItem.imageUrl" placeholder="" />
      </label>
      <button>Submit</button>
    </form>
    
  </div>


</div>
